:root {
  --background: rgb(38 41 44);
  --boxShadow: 0px 5px 5px #000;
}
.App {
  text-align: center;
  background-color: var(--background);
  font-family: 'Nunito', sans-serif,'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif; ;

}


/*------------CSS RESET SECTION-------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

/*--------------------- CSS for Note Taking Window-------------- */
.note-add-btn{
  position: fixed;
  z-index: 10;
  bottom: 10%;
  right: 5%;
  border-radius: 50%;
  background-color: var(--background);;
  border: 1px solid darkgray;
  box-shadow: var(--boxShadow);
  color: #fff;
  cursor: pointer;
  font-size: 24px
}
.note-add-btn:hover{
  filter:drop-shadow(0px 0px 2px #fff);

}
.note-input-field{
  outline: none;
  border: 1px solid darkgray;
  box-shadow: var(--boxShadow);
  border-radius: 10px;
}

.custom-input-field{
  text-align: left;
  border-radius: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  width: 100%; 
  background-color: var(--background);
  color: #fff;
}

.custom-title-field{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}
.note-window {
  max-width: 400px;
  width: 100%;
  height: 300px;
  border: 1px solid darkgray;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 10px;
}

.card-size{
  width: 65%;
  cursor: pointer;
  background-color: var(--background);
  color: white;
  border: 1px solid darkgray;
  box-shadow: var(--boxShadow);
 
}
.card-size:hover{
  background-color: rgb(43 46 50);
}



.text-box{  
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}
.note-window textarea {
  width: 100%;
  height: 85%;
  border: none;
  resize: none;
  font-size: 14px;
  padding: 5px;
}

.note-window .btn-save {
  display: block;
  width: 80px;
  margin-top: 10px;
  padding: 5px;
  background-color: var(--background);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* .note-window .btn-save:hover {
  background-color: #357ae8;
}

.note-window .btn-save:active {
  background-color: #2456b3;
} */

.custom-btn{
  background-color: var(--background);
  border-radius: 10px;
  border: 1px solid darkgray;
  color: #fff;
}

.notes-content{
  background-color: var(--background);
  color: #fff;
  width: 100%;
}
.notes-content:focus {
  background-color: var(--background);
  border-color: transparent;
  outline: none;
}

.modal-title, .modal-body{
 
  overflow: auto;
}

.modal-content{
  background-color: var(--background);
  color: #fff;
  box-shadow: var(--boxShadow);
}

.whitespace{
  white-space: pre;
}

.btn-close:focus{
box-shadow: none;
}


.card-body{
  position: relative;
}
.dropdown{
  position: absolute;
  top: 0;
  right: 5px;
  
}

.dropdown button{
  padding: 0;
  background: none;
  border: none;
}

.dropdown-toggle.btn:hover{
  background:none;
}

.dropdown-toggle.btn:active{
  background: none;
}

.dropdown-toggle.btn:focus{
  background: none;
}

.dropdown-toggle.btn:not(:focus-visible){
  background: none;
}

.dropdown-toggle::after{
  display: none;
}
.dropdown-menu{
  background-color:var(--background);
  
}

.dropdown-item{
color: #fff;
}
.dropdown-item:active{
  background: none;
}

.signout-btn{
  float: right;
  color: rgba(255, 255, 255, 0.55);
  background: none;
  border: none;
  margin: auto 5px;
}

.signout-btn:hover{
  color:#fff
}

.sidemenu-btn{
  float: left;
  color: rgba(255, 255, 255, 0.55);
  background: none;
  border: none;
  margin: auto 5px;
}

.sidemenu-btn:hover{
  color:#fff
}

.sidemenu-btn:focus{
  color:#fff
}



.title-name{
  display: inline;
  cursor: pointer;
}

.title-name:hover{
  color:#fff

}
input:-internal-autofill-selected {
  background: none;
}

.edit-icons{
  cursor: pointer;
}
.edit-icons:hover{
  filter:drop-shadow(0px 0px 2px #fff);
}

.color-palette{
  justify-content: space-around;
}
.choose-color-icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  opacity: 0.75;
}

.choose-color-icon:hover
{
  opacity: 1;
}

/*-----------Sidebar menu-----------------*/
.sidebar{
  position: absolute;
  width: 200px;
  height: 100vh;
  background-color: rgba(33,37,41,1);
  padding: 10px;
  z-index: 2;
  color:rgba(255, 255, 255, 0.55);
  transition: left 0.3s ease;
  box-shadow: var(--boxShadow);
}

.nav-item{
  margin-bottom: 20px;
  cursor: pointer;
}

.nav-item:hover{
  color:#fff
}
.menu-label{
  font-size: 16px;
  text-align: left;
}

.section-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.forgot-password .modal-content{
  min-height:150px;
  padding: 30px;
}

/*Header section-------------------------*/
.header{
  background-color: rgba(33,37,41,1);
  color: rgba(255, 255, 255, 0.55);
  position: relative;
  justify-content: space-between;
}

.search-bar{
  background: rgba(33,37,41,1);
  width: 100%;
}

.search-bar:active, 
.search-bar:focus
{
  background: rgba(33,37,41,1);
  color: #fff;
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
}

.container.header{
  max-width: 100%;
}